name: CI

on:
  pull_request:

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      docker: ${{ fromJSON(steps.changes.outputs.scopes).docker }}
      python: ${{ fromJSON(steps.changes.outputs.scopes).python }}
      merge-queue: ${{ fromJSON(steps.changes.outputs.scopes).merge-queue }}
    steps:
      - uses: actions/checkout@v5
      - uses: Mergifyio/gha-mergify-ci@v11
        id: changes
        with:
          action: scopes
          token: ${{ secrets.MERGIFY_TOKEN }}

  python:
    needs: changes
    if: ${{ needs.changes.outputs.python == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - if: ${{ needs.changes.outputs.merge-queue == 'true' }}
        run: sleep 30

  docker:
    needs: changes
    if: ${{ needs.changes.outputs.docker == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - if: ${{ needs.changes.outputs.merge-queue == 'true' }}
        run: sleep 30

  ci-gate:
    if: ${{ !cancelled() }}
    needs:
      - changes
      - python
      - docker
    runs-on: ubuntu-latest
    steps:
      - name: Verify all jobs succeeded
        uses: Mergifyio/gha-mergify-ci@v11
        with:
          action: wait-jobs
          jobs: ${{ toJSON(needs) }}
